<%#= @sheets.reservation.date %>

SCREEN
<table>
  <tr>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>4</th>
    <th>5</th>
  </tr>
  <% @sheets.each do |s| %>
    <tr>
      <td>
      <%= link_to "#{s.row} - #{s.column}", new_movie_schedule_reservation_path  %>
      </td>
    </tr>
  <% end %>
</table>
