.reservation_new {
  text-align: center;
  width: 800px;
  margin: 0 auto;
}

.cell_info {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cell_title {
  border: 1px solid;
  padding: 0;
}
